<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">



    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">
    <ion-nav-bar animation="nav-title-slide-ios7" class="bar-positive">
      <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view animation="slide-left-right"></ion-nav-view>
    <script id="list.html" type="text/ng-template">
      <ion-view class="header-name" view-title="Users List">
        <ion-pane>
          <ion-content>
            <ion-list ng-controller="usersCtrl">
                <ion-item ng-repeat="item in usersItems">
                  <a class="item-link-users" href="#/userList/{{item.id}}" >
                    {{item.name}}
                  </a>
                </ion-item>
            </ion-list>
          </ion-content>
        </ion-pane>
      </ion-view>
    </script>
    <script id="view.html" type="text/ng-template">
      <ion-view  view-title="User Information">
        <ion-content>
          <ion-list ng-controller="usersCtrl">
              <ion-item>
                Name: {{usersItems[params["id"]-1].name}}
              </ion-item>
             <ion-item>
                Username: {{usersItems[params["id"]-1].username}}
              </ion-item>
              <ion-item>
                Email: {{usersItems[params["id"]-1].email}}
              </ion-item>
              <ion-item>
                Address: {{usersItems[params["id"]-1].address.street}} {{usersItems[params["id"]-1].address.suite}}, {{usersItems[params["id"]-1].address.city}}, {{usersItems[params["id"]-1].address.zipcode}},
               ( {{usersItems[params["id"]-1].address.geo.lat}} , {{usersItems[params["id"]-1].address.geo.lng}} )
              </ion-item>
              <ion-item>
                Phone: {{usersItems[params["id"]-1].phone}}
              </ion-item>
              <ion-item>
                Website: {{usersItems[params["id"]-1].website}}
              </ion-item>
              <ion-item>
                Company: {{usersItems[params["id"]-1].company.name}} , {{usersItems[params["id"]-1].company.catchPhrase}} , {{usersItems[params["id"]-1].company.bs}}
              </ion-item>
          </ion-list>
        </ion-content>
      </ion-view>
    </script>
  </body>
</html>
